rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /models3d/{fileName} {
      allow read: if request.time < timestamp.date(2026, 8, 1);

      allow create, update:
        if request.time < timestamp.date(2026, 8, 1)
        && fileName.matches('.*\\.glb')
        && request.resource.size < 50 * 1024 * 1024
        && request.resource.contentType == 'model/gltf-binary';

      allow delete: if request.time < timestamp.date(2026, 8, 1);
    }
  }
}
