.list-header {
  display: flex;
  flex-wrap: wrap;           
  align-items: center;       
  justify-content: space-between; 
  gap: 16px;                 
  margin-bottom: 24px;       
  background: transparent !important;
  box-shadow: none !important;       
  padding: 0 !important;             
}


.titulo {
  flex: 0 0 100%;            
  margin-bottom: 16px;        
}

.contenedor-busqueda{
    justify-content: center;
}


.busqueda {
  width: 90%;
  max-width: 700px;       
  margin: 0;
  height: 50px;
}

.busqueda .example-full-width {
  width: 210%;      
}
