.header-actions {
  display: flex;
  gap: 10px;
}

@media (max-width: 620px) {
  .header-actions {
    align-items: stretch;
    flex-direction: column;
  }
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 48px 0;
}
