.chart-container {
  position: relative;
  width: 220px;   /* ajusta a tu gusto */
  height: 220px;
  margin: 0 auto;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}
